<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <!-- Low level logging : value=OFF\FATAL\ERROR\WARN\INFO\DEBUG\ALL-->
      <!-- High level logging : value=OFF(no message)\FATAL(only FATAL messages)\WARN(FATAL, ERROR and WARN messages)\ALL(every message will be logged)-->
      <appender-ref ref="RollingFileAppender" />
      <!--types=Console appender\File appender\Rolling file appender-->
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="E:\Automation Frameworks\SomeThingInAutomation\SomeTestingInAutomation\TestLogger\rolling.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="1024MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date-%level]*{class: %logger} -- %message. %newline" />
      </layout>
    </appender>
  </log4net>

  <appSettings>
    <add key="DataDrivenFile" value="C:\Users\v-rusom\documents\visual studio 2015\Projects\SomeThingInAutomation\SomeTestingInAutomation\XMLData.xml" />
  </appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="PostSharp.Patterns.Common" publicKeyToken="e7f631e6ce13f078" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.0.49.0" newVersion="5.0.49.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.0.49.0" newVersion="5.0.49.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>